@using QuotingDojo.Models
@model Quote
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quote</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <div>
        <form asp-action="Create" asp-controller="Home" method="POST">
            <div>
                <label asp-for="User"></label>
                <input type="text" name="User" id="User" asp-for="User">
            </div>
            <div>
                <label asp-for="Content"></label>
                <textarea asp-for="Content" name="Content" id="Content" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Add my quote">
        </form>
        <a href="quotes">Skip to Quotes</a>
    </div>
</body>
</html>