<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <h1>Here are the Awesome Quotes</h1>
    @foreach(var quote in ViewBag.Quotes)
    {
    <div>
        <h3>"@quote["content"]"</h3>
        <p> - @quote["user"] at @quote["created_at"]</p>
        <hr>
    </div>
    }
</body>
</html>