<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li id="title">Account</li>
                <li></li>
                <li><a href="logout">Home </a></li>
                <li><a href="logout">Add Book and Review </a></li>
                <li><a href="logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>