table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.headNav{
    display: inline-flex;
}

.headNav a{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: violet;
    transition: ease 1s;
}

.headNav a:hover{
    color: rgb(138, 16, 175);
}

h4{
    text-align: center;
}