<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM FUN</title>
</head>
<body>
    <h1>Woo! I am making a form!!</h1>
    <form action="/process" method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>
        <label for="fav_ice_cream">Favorite Ice Cream:</label>
        <input type="text" name="fav_ice_cream" id="fav_ice_cream"><br>
        <label for="password">Passsword:<label>
        <input type="password" name="password" id="num_of_pets"><br>
        <button>Submit</button>
    </form>
</body>
</html>