<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOOOO</title>
</head>
<body>
    <a href="/logout">Logout!</a>
    <H1>SUCCESSFULLY REGISTERED AND/OR LOGGED IN!!</H1>
    <h2>Welcome {{user.first_name}}!</h2>
    <h2>Your password is: {{user.password}}!</h2>
    <hr>
    <h2>All users!</h2>
    {% for user in all_users %}
        <a href="/user/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
    {% endfor %}
</body>
</html>