<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my website!</h1>
    <h3>Here's some super cool things!</h3>
    <ul>
        <li>Batman</li>
        <li>Sports!</li>
        <li>Video games</li>
        <li>mountains</li>
    </ul>
    
    <form action="/submit" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <br>
        <label for="nickname">Nickname: </label>
        <input type="text" name="nickname">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>