@using CRUDelicious.Models
@model Dish
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to CRUDelicious</h1>
    <a href="new">Add a Dish</a>
    <h3>Check out some Recent Dishes!</h3>
    <table>
        <tr>
            <th>Dish</th>
            <th>Chef</th>
        </tr>
        <tr>
            <td><a href="/dish/1">Lasangna</a></td>
            <td>Maria Anders</td>
        </tr>
        @foreach(Dish food in ViewBag.AllDishes)
        {
            <tr>
                <td><a href="/dish/@food.DishId">@food.Name</a></td>
                <td>@food.Chef</td>
            </tr>
        }
    </table>
</body>
</html>