<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to CRUDelicious</h1>
    <a href="">Add a Dish</a>
    <h3>Check out some Recent Dishes!</h3>
    
</body>
</html>