<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <a href="">Home</a>
    <h1>FOOD NAME</h1>
    <h3>CHEF NAME</h3>
    <hr>
    <p>DESCRIPTION</p>
    <p><span>Calories:</span>####</p>
    <p><span>Tastiness:</span>##</p>
    <div>
        <button>Delete</button>
        <a href="">Edit</a>
    </div>
</body>
</html>