@using BankAccounts.Models
@model Transaction
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bank.css">
    <title>Account</title>
</head>
<body>
    <a class="exit" href="/">Logout</a>
    <div class="user-box">
        <h5>UserName:</h5>
        <h2>@ViewBag.User.FirstName @ViewBag.User.LastName</h2>
        <h5>Current Balance:</h5>
        <h2>@string.Format("{0:C}", @ViewBag.User.Balance)</h2>
    </div>
    <div class="deposit">
        <form action="">
            <div class="pay">
                <h3><label for="">Deposit/Withdrawl</label></h3><br>
                <input type="number">
            </div>
            <input type="submit">
        </form>
    </div>
    <div class="trans">
        <table>
            <tr>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
            </tr>
        </table>
    </div>
</body>
</html>