<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <div class="buy_me"></div>
    <div class="about">
        <h1>Welcome to Dojo Fruit Store!</h1>
        <p>
            Your dojo decided to buy fruits for all the students!
            Please ue this app to tell what you would like to have!
            Once we get your order, we'll charge your student account automatically.
        </p>
        <h2>Dojo Fruit Store is Proudly built using Flask.</h2>
    </div>
</body>
</html>