body {
    margin: 0px;
    background:rgb(30,30,40);
}
header {
    background-color: #a92cb9;
    width: 100%;
    height: 70px;
}
nav ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: flex-end; 
    margin: 0px; 
    color: white;
}
nav li {
    margin: 20px;
    font-family: Arial;
}
#title {
    margin-right: auto;
}
nav li a {
    color: white;
    text-decoration: none; 
}
nav li a:hover {
    text-decoration: underline;
}







form { max-width:420px; margin:50px auto; }
label{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#a92cb9;
    border-radius:5px;
    border:0;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
ul li{
    text-decoration: none;
}
p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    border-radius:5px;
    border:0;
    color:gray;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
h6{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    border-radius:5px;
    border:0;
    color:rgb(82, 230, 24);
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
h1{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    border-radius:5px;
    border:0;
    color:red;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    border-radius:5px;
    border:0;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
.feedback-input{
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #a92cb9;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus {
    border:2px solid #a92cb9; 
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#a92cb9;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { 
    background:#CC4949;
}