@model O2MIntro.Models.HomePlanet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <ul>
        @foreach(var alien in Model.Aliens)
        {
            <li>@alien.Name</li>
        }
    </ul>
</body>
</html>