<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <h2>About Show {{show.id}}</h2>
    <a class="right" href="/">Go Back</a>
    <h3>Title: {{show.title}}</h3>
    <h3>Release Date: {{show.release_date}}</h3>
    <h3>Descrpition: {{show.desc}}</h3>
    <h4>Last Updated: {{show.updated_at}}</h4>
    <div class="fixer">
        <h3><a href="/shows/{{show.id}}/edit">Edit</a></h3>
        <p>| </p>
        <h3><a href="/shows/{{show.id}}/destroy">Delete</a></h3>
    </div>
</body>
</html>