<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <h2>About Show ###</h2>
    <a class="right" href="">Go Back</a>
    <h3>Title: XXXXXXXXXXXXXXXX</h3>
    <h3>Release Date: XXXXXXXXX XX, XXXX</h3>
    <h3>Descrpition: XXXX XXX XX XXXX XXXX XXX XX XX</h3>
    <h4>Last Updated: XXXXXXXXX XX, XXXX XX:XX XX</h4>
    <div class="fixer">
        <h3><a href="">Edit</a></h3>
        <p>| </p>
        <h3><a href="">Delete</a></h3>
    </div>
</body>
</html>