<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>
<body>
    <h1>All Shows</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Relase Date</th>
            <th>Action</th>
        </tr>
        {% for show in all_shows %}
        <tr>
            <td>{{show.id}}</td>
            <td>{{show.title}}</td>
            <td>{{show.tv_network}}</td>
            <td>{{show.release_date}}</td>
            <td>
                <a href="/{{show.id}}">Show</a>
                <a href="/{{show.id}}/edit">Edit</a>
                <a href="/destroy/{{show.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/new"><h2>Add New Show</h2></a>
</body>
</html>