<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>
<body>
    <h1>All Shows</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Network</th>
            <th>Relase Date</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>
                <a href="">Show</a>
                <a href="">Edit</a>
                <a href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Centro comercial Moctezuma</td>
            <td>September 99, 9999</td>
            <td>
                <a href="">Show</a>
                <a href="">Edit</a>
                <a href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Ernst Handel</td>
            <td>September 99, 9999</td>
            <td>
                <a href="">Show</a>
                <a href="">Edit</a>
                <a href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Island Trading</td>
            <td>September 99, 9999</td>
            <td>
                <a href="">Show</a>
                <a href="">Edit</a>
                <a href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Laughing Bacchus Winecellars</td>
            <td>September 99, 9999</td>
            <td>
                <a href="">Show</a>
                <a href="">Edit</a>
                <a href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Magazzini Alimentari Riuniti</td>
            <td>September 99, 9999</td>
            <td>
                <a href="">Show</a>
                <a href="">Edit</a>
                <a href="">Delete</a>
            </td>
        </tr>
    </table>
    <a href=""><h2>Add New Show</h2></a>
</body>
</html>