<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Products</title>
</head>
<body>
    <div>
        <partial name="NavPartial"/>
    </div>
    <h1>Products</h1>
    <div>
        <form action="">
            <div>
                <label for="">Name</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Price</label>
                <input type="number" name="" id="">
            </div>
            <div>
                <label for="">Description</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <input type="submit">
        </form>
    </div>
</body>
</html>