@using ProductsAndCategories.Models
@model Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Products</title>
</head>
<body>
    <div>
        <partial name="NavPartial"/>
    </div>
    <div>
        <h1>New Products</h1>
        <form asp-action="AddProduct" asp-controller="Shop" method="POST">
            <div>
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" name="Name" id="Name">
            </div>
            <div>
                <label asp-for="Price"></label>
                <input type="number" asp-for="Price" name="Price" id="Price">
            </div>
            <div>
                <label asp-for="Description"></label>
                <textarea asp-for="Description" name="Description" id="Description" cols="30" rows="10"></textarea>
            </div>
            <input type="submit">
        </form>
    </div>
    <div>
        <h1>Existing Products</h1>
            @foreach (var product in @ViewBag.Products)
            {
                <p><a href="/products/@product.ProductId">@product.Name</a></p>
            }
    </div>
</body>
</html>