@using ProductsAndCategories.Models
@model Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    @* <h1>@Model.Name</h1> *@
    <div>
        <h2>Categories</h2>
        @* @foreach (var a in @Model.Associations)
        {
            <p>-@a.Category.Name</p>
        } *@
    </div>
    <div>
        <h2>Add Category</h2>
        <form asp-action="NewCategory" asp-controller="Shop" method="POST">
            <div>
                <label asp-for="Name">Add Category</label>
                <select>
                    @foreach (var c in ViewBag.Categories)
                    {
                        <option value="@c.CategoryId">@c.Name</option>
                    }
                </select>
            </div>
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>