*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    margin: 0px auto;
    background-color: white;
    background-color: rgb(23, 23, 88)
}
/* header start  */
header{
    color: white;
    background: blue;
}
header h1{
    position: relative;
}
header span{
    color: rgb(67, 143, 243);
}
.nav{
    display: inline-flex;
    float: right;
    position: relative;
    margin-bottom: 20px;
}
.nav h2{
    margin-left: 20px;
    margin-right: 20px;
    color: blueviolet;
}

/* header end  */
/* main start  */
main{
    width: 95%;
    background-color: white;
    display: block; 
    margin-left: auto;  
    margin-right: auto;
}
.overview,
.footer{
    display: block; 
    margin-left: auto;  
    margin-right: auto;
}
.overview img{
    display: block; 
    margin-left: auto;  
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 95%;
}
.services,
.context{
    display: inline-flex;

}
.service,
.section{
    background-color: rgb(36, 106, 185);
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    margin-bottom: 20px;
}
.title{
    position: relative;
    height: 40px;
    display: inline;
}
.title img{
    display: block;
    margin-left: 10px;
    height: 60px;
    width: 60px;
    float: left;
}
.title h2{
    display: block;
    font-size: 40px;
    font-weight: 500;
    margin-top: 35px;
    margin-left: 10px;
}
.service p{
    margin-left: 20px;
    margin-right: 20px;
    min-height: 120px;
}
.service button{
    background: rgb(45,58,175);
    background: linear-gradient(90deg, rgba(45,58,175,1) 0%, rgba(13,83,172,1) 14%, rgba(0,212,255,1) 100%);
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.context{
    display: inline-flex;
    height: 300px;
    margin-bottom: 20px;
}
.section{
    background-color: white;
    color: black;
}
.section h2{
    margin-top: 20px;
    font-size: 25px;
}
.section img{
    margin-top: 20px;
    width: 100%;
}
.body-text{
    margin-top: 65px;
}
.body-text p{
    margin-bottom: 15px;
}
.section h3{
    margin-top: 30px;
    color: rgb(73, 100, 187);
}
.speech-bubble{
    margin-top: 20px;
	position: relative;
	background: rgb(96, 180, 248);
    padding: 30px;
    margin-bottom: 50px;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: rgb(96, 180, 248);
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
/* main end  */

.footer{
    width: 95%;
    background-color: rgb(96, 180, 248);
    margin-bottom: 10px;
    color: rgb(73, 100, 187);
    margin-left: auto;
    margin-right: auto;
}
.footer ul{
    justify-content: center;
    display: flex;
}
.footer ul li{
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer ul li span{
    color: white;
}