
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quote</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <div>
        <form action="">
            <div>
                <label for="">Your Name:</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Your Quote:</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Add my quote">
        </form>
        <a href="quotes">Skip to Quotes</a>
    </div>
</body>
</html>