<header>
    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
</header>