@using E_Commerce.Models
@model ProdWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <partial name="NavPartial"/>
    <button title="Toggle sidebar">Menu</button>
    <aside id="sidebar" class="collapsed">
        <div>
            <div>
                <input type="text" name="" id="">
            </div>
        </div>
        <div>
            <form asp-action="Items" asp-controller="Store" method="Post">
                <h4>Add A New Product</h4>
                <div>
                    <label asp-for="AddProduct.Name"></label>
                    <input type="text" asp-for="AddProduct.Name" name="AddProduct.Name" id="AddProduct.Name">
                </div>
                <div>
                    <label asp-for="AddProduct.ImageUrl"></label>
                    <input type="text" asp-for="AddProduct.ImageUrl" name="AddProduct.ImageUrl" id="AddProduct.ImageUrl">
                </div>
                <div>
                    <label asp-for="AddProduct.Quantity"></label>
                    <input type="number" asp-for="AddProduct.Quantity" name="AddProduct.Quantity" id="AddProduct.Quantity">
                </div>
                <div>
                    <label asp-for="AddProduct.Description"></label>
                    <textarea name="AddProduct.Description" asp-for="AddProduct.Description" id="AddProduct.Description" cols="30" rows="10"></textarea>
                </div>
                <input type="submit" value="Create">
            </form>
        </div>
    </aside>
    <main id="content">
            <div class="push">
            @{foreach (Product prod in Model.AllProducts)
                {
                    <div class="items">
                        <img src="@prod.ImageUrl" alt="">
                        <div>
                            <h5>@prod.Name</h5>
                            <p>(@prod.Quantity left)</p>
                        </div>
                    </div>
                }
            }
        </div>
    </main>
</body>
<script src="~/js/main.js"></script>
</html>