<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <partial name="NavPartial"/>
    <button title="Toggle sidebar">Menu</button>
    <aside id="sidebar" class="collapsed">
        <div>
            <form>
                <div>
                    <input type="text" name="" id="">
                </div>
                <input type="submit">
            </form>
        </div>
        <div>
            <form>
                <h4>Add A New Product</h4>
                <div>
                    <label for=""></label>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <label for=""></label>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <label for=""></label>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <label for=""></label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <input type="submit">
            </form>
        </div>
    </aside>
    <main id="content">
            <div class="push">
            <div>
                <img src="" alt="">
                <div>
                    <h5>Products</h5>
                    <p>Item Left</p>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="~/js/main.js"></script>
</html>