@using SimpleLoginRegistration.Models
@model LoginUser
<div class="login">
    <h2>Login</h2>
    <form asp-action="Login" asp-controller="LogReg" method="POST">
        <div >
            <label asp-for="Email"></label>
            <input asp-for="Email">
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" name="Password" id="Password">
        </div>
        <input type="submit" value="Login">
    </form> 
    <span asp-validation-for="Email"></span>
    <span asp-validation-for="Password"></span>
</div>