<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li id="title">Welcome USERNAME</li>
                <li></li>
                <li><a href="logout">Add Book and Review </a></li>
                <li><a href="logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <main>
        
    </main>
    <h1>Welcome Family</h1>
</body>
</html>