<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li id="title">Welcome USERNAME</li>
                <li></li>
                <li><a href="add">Add Book and Review </a></li>
                <li><a href="logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome, USERNAME</h1>
        <div class="make-left">
            <h2>Recent Book Reviews:</h2>
            <div class="push-ratings">
                <hr>
                <a href=""><h2>BOOK TITLE</h2></a>
                <div class="set-ratings">
                    <h3>Rating</h3>
                    <div class="push-stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <h4><a href="">Name</a> write your wild comment</h4>
                <h5>Show me the Date when it was posted</h5>
            </div>
        </div>
        <div class="make-right">
            <h3>Add a Review:</h3>
            <div class="ex3">
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
                <a href=""><h3>Your Book Title</h3></a>
            </div>
        </div>
    </main>
</body>
</html>