<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li><a href="/books">Home </a></li>
                <li><a href="logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="my-form" action="/books/create" method="POST">
            {% csrf_token %}
            <div class="container">
                <ul>
                    <h1>Add new Book title and a Review</h1>
                    <li>
                        <input type="text" name="book_title" placeholder="Book Title"> 
                    </li>
                    <h1>Author:</h1>
                    <li>
                        <select name="author_select">
                            <option value="">Choose Author from List</option>
                            {% for author in all_authors %}
                                <option value="{{author.name}}">{{author.name}}</option>
                            {% endfor%}
                        </select>
                    </li>
                    <li>
                        <div class="grid grid-2">
                            <input type="text" name="book_author" placeholder="Add a new Author">  
                            <select>
                                <option>Add an Author</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option> 
                                <option>5</option>       
                            </select>
                        </div>
                    </li>    
                    <li>
                        <textarea placeholder="Write your review"></textarea>
                    </li>  
                    <li>
                        <div class="grid grid-3">
                            <button class="btn-grid" type="submit">
                                <span class="back">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/email-icon.svg" alt="">
                                </span>
                                <span class="front">SUBMIT</span>
                            </button>
                        </div>
                    </li>    
                </ul>
            </div>
        </form>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <p style="color: red;">{{ message }}</p>
                </li>    
            {% endfor %}
        </ul>
        {% endif %}
    </main>
</body>
</html>