<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li id="title">Add new Book title and a Review</li>
                <li></li>
                <li><a href="logout">Home </a></li>
                <li><a href="logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Create Book</h1>
    </main>
</body>
</html>