@model LogRegPart.Models.LogUser;

<form asp-action="Login" asp-controller="Home" method="post">
    <div class="form-group row">
        <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="LogEmail"></span>
        <label asp-for="LogEmail" class="col-sm-4"></label>
        <input asp-for="LogEmail" class="col-sm-8 form-control">
    </div>
    <div class="form-group row">
        <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="LogPass"></span>
        <label asp-for="LogPass" class="col-sm-4"></label>
        <input asp-for="LogPass" class="col-sm-8 form-control">
    </div>
    <div class="form-group row">
        <input type="submit" value="Log In" class="col-sm-4 offset-sm-4 btn btn-primary">
    </div>
</form>