@model ModelsNForms.Models.Alien
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, @Model.Name</h1>
    <p>
        Greeting! We are so glad to host you all the way from @Model.HomePlanet! It must
        be strange to be a whole @Model.DistanceFromHome au away from hom!
        Please enjoy your stay, alien!
    </p>
</body>
</html>