@using ChefsNDishes.Models
@model Chef

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div>
        <partial name="NavPartial"/>
    </div>
    <a href="/new">Add a Chef
    </a>
    <h4>Check out our roster of Chefs</h4>
    <hr>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>23</td>
            <td>2</td>
        </tr>
        <tr>
        <td>Centro comercial Moctezuma</td>
        <td>19</td>
        <td>24</td>
    </table>
</body>
</html>