@using ChefsNDishes.Models
@model Dish

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/forms.css">
    <title>New Dish</title>
</head>
<body>
    <div class="login-box">
        <div>
            <a href="/dishes">Home</a>
            <h2>Add a Dish</h2>
        </div>
        <form asp-action="CreateDish" asp-controller="Buffet" method="POST">
            <div class="user-box">
                <input type="text" name="Name" id="Name" asp-for="Name">
                <label asp-for="Name"></label>
            </div>
            <div class="user-box">
                <select name="ChefId" asp-for="ChefId" id="ChefId">
                    @foreach (var chef in @ViewBag.AllChefs)
                    {
                        <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
                    }
                </select>
                <label asp-for="ChefId">Chef</label>
            </div>
            <div class="user-box">
                <input type="number" name="Calories" id="Calories" asp-for="Calories">
                <label asp-for="Calories"></label>
            </div>
            <div class="user-box">
                <select name="Tastiness" id="Tastiness" asp-for="Tastiness">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label asp-for="Tastiness"></label>
            </div>
            <div class="user-box">
                <textarea name="Description" id="Description" asp-for="Description"></textarea>
                <label asp-for="Description"></label>
            </div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </form>
    </div>
    <div>
        <span class="error" asp-validation-for="Name"></span>
        <span class="error" asp-validation-for="ChefId"></span>
        <span class="error" asp-validation-for="Calories"></span>
        <span class="error" asp-validation-for="Tastiness"></span>
        <span class="error" asp-validation-for="Description"></span>
    </div>
</body>
</html>