<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
            <div >
                <div>
                    <label for="name">Your Name:</label>
                    <input id="name" type="text" name="name">
                </div>
                <div>
                    <label for="location">Dojo Location:</label>
                    <input id="location" type="text" name="location">
                </div>
                <div>
                    <label for="language">Favorite Language:</label>
                    <input id="language" type="text" name="language">
                </div>
                <div>
                    <label for="comment">Comment(optional):</label>
                    <textarea name="comment" id="comment" cols="20" rows="2"></textarea>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
</body>
</html>