*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    margin: 0px auto;
}
.green{
    height: 100px;
    background-color: green;
    margin: 10px;
}
.blue{
    float: left;
    background-color: blue;
    height: 300px;
    width: 30%;
    margin: 10px;
}
.red{
    float: right;
    background-color: red;
    height: 500px;
    width: 65%;
    margin: 10px;
}
.row{
    position: relative;
}
.yellow{
    display: inline-flex;
    background-color: yellow;
    margin: 10px;
    height: 80px;
    width: 30%;
}
.purple{
    background-color: purple;
    height: 80px;
    margin: 10px;
}

@media only screen and (max-width: 480px){
    .blue{
        display: none;
    }
    .red{
        width: 95%;
    }
    .yellow{
        width: 90%;
    }
}
@media only screen and (min-width: 480px){
    .blue{
        display: none;
    }
    .red{
        width: 95%;
    }
    .yellow{
        width: 45%;
    }
}
@media only screen and (min-width: 1024px){
    .blue{
        display: block;
    }
    .red{
        width: 65%;
    }
    .yellow{
        width: 30%;
    }
} 