<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="about-section">
        <h1>Welcome to Coding Dojo</h1>
        <p>Here you can talk to other students and take the test</p>
        <p>Come on in and we will show whats up</p>
        <a href="/register"><button class="button">Register</button></a>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Testing Out</h2>
                <p class="title">Still Taking Taking The Test?</p>
                <p>No Problem, just login in and we will get you sqaured away</p>
                <p>Dont forget to ask your instructor for help if you get stuck</p>
                <a href="/login"><p><button class="button">Login</button></p></a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Lost Account</h2>
                <p class="title">Lost Your Account?</p>
                <p>If your account was deleted no problem we are here to help you succeed</p>
                <p>Just make a new one, its no big deal, just make sure not to try and hack us again</p>
                <a href="/register"><p><button class="button">Register</button></p></a>
            </div>
        </div>
    </div>
        
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Retakes</h2>
                <p class="title">Retaking Exam?</p>
                <p>Its fine the Exam is tough, and each attempt you take makes you learn more</p>
                <p>Dont forget to ask your instructor for help if you get stuck</p>
                <a href="/login"><p><button class="button">Login</button></p></a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>