<header>
    <nav>
        <ul>
            <li><a href="/dashManager">Dashboard</a></li>
            <li><a href="/master/1">Profile</a></li>
        </ul>
    </nav>
    <div class="move-right">
        <a href="/logout">Logout</a>
    </div>
</header>