<header>
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard </a></li>
            <li><a href="/user-profile">Profile</a></li>
        </ul>
    </nav>
    <div class="move-right">
        <a href="/logout">Logout</a>
    </div>
</header>