<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="~/css/useredit.css">
    <link type="text/css" rel="stylesheet" href="~/css/navbar.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashManager">Dashboard</a></li>
                <li><a href="/master/1">Profile</a></li>
            </ul>
        </nav>
        <div class="move-right">
            <a href="/logout">Logout</a>
        </div>
    </header>
    <main>
        <div class="background">
            <h1>Edit Profile</h1>
            <div class="box4">
                <h1>Edit Info</h1>
                <form action="/register" method="POST" class="form">
                    <input type="text" name="first_name" id="first_name" class="name" placeholder="First Name">
                    <input type="text" name="last_name" id="last_name" class="name" placeholder="Last Name">
                    <input type="email" name="email" id="email" class="email" placeholder="Email">
                    <input type="submit" value="Register">
                </form>
            </div>
            <div class="box">
                <h1>Change Password</h1>
                <form action="/login" method="POST" class="form">
                    <input type="password" name="password" id="password" class="password" placeholder="Password">
                    <input type="password" name="confirm_password" id="comfirm_password" class="password" placeholder="Confirm Password">
                    <input type="submit" value="Login">
                </form>
            </div>
            <div class="box3">
                <h1>Edit Descrpition</h1>
                <form action="/login" method="POST" class="form">
                    <textarea name="descrpition" id="descrpition" placeholder="descrpition" class="descrpition" cols="30" rows="10"></textarea>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </main>
</body>
</html>