<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form action='/process' method='post'>
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <!-- <label for="Location">Dojo Location:</label>
        <input type="text" id="location" name="location">
        <br> -->
        <p>Dojo Location:</p>
        <input type="radio" id="location" name="location" value="Seattle">
        <label for="loc1">Seattle</label>
        <br>
        <input type="radio" id="location" name="location" value="San-Francisco">
        <label for="loc2">San Francisco</label>
        <br>  
        <input type="radio" id="location" name="location" value="New-York">
        <label for="loc3">New York</label>
        <br>
        <!-- <label for="language">Favoite Language:</label>
        <input type="text" id="language" name="language">
        <br> -->
        <p>Favoite Language:</p>
        <br>
        <input type="checkbox" id="language" name="language" value="JavaScript">
        <label for="lang1">JavaScript</label>
        <br>
        <input type="checkbox" id="language" name="language" value="Python">
        <label for="lang2">Python</label>
        <br>
        <input type="checkbox" id="language" name="language" value="Swift">
        <label for="lang3">Swift</label>
        <br>
        <label for="comment">Comment(Optional):</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <button type='submit'>Submit</button>
    </form>
    
</body>
</html>