<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>
<body>
    <form action='/users' method='post'>
        {% csrf_token %}
        Name: <input type='text' name='name'>
        Dojo Location: <input type='text' name='location'>
        Favorite Languge: <input type='text' name='languge'>
        Comment(optional):
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button type='submit'>Submit</button>
    </form>
    
</body>
</html>