<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" href="~/css/timeline.css">
    <link rel="stylesheet" href="~/css/navbar.css">
</head>
<body>
    <partial name="UserNavPartial"/>
    <main>
        <div>
            <div>
                <h1>USERNAME</h1>
                <h3>Registered At: MM DD YYYY</h3>
                <h3>User ID: #1</h3>
                <h3>Email: EMAIL</h3>
                <h3>Description: DESCRIPTION</h3>
            </div>
            <div>
                <form method="POST">
                <h3>Post A Message</h3>
                <div>
                    <textarea  name="" id="" cols="50" rows="10"></textarea>
                </div>
                <input type="submit">
                </form>
            </div>
            <br>
            <div>
                <div class="message">
                    <h3><a href="">FirstName LastName</a>  - UpdatedAt</h3>
                    <p>MESSAGE</p>
                    <div class="comment">
                        <h4><a href="">FirstName LastName</a> - UpdatedAt</h4>
                        <p>COMMENT</p>
                    </div>
                    <form class="comment">
                        <h5>Post A Comment</h5>
                        <div>
                            <textarea name="" id="" cols="40" rows="5"></textarea>
                        </div>
                        <input type="submit">
                    </form>
                </div>
                <hr>
            </div>
        </div>
    </main>
</body>
</html>