@using LoginAndRegistration.Models
@model User
<div class="register">
    <h2>Register</h2>
    <form asp-action="Register" asp-controller="Home" method="POST">
        <div>
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName">
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName">
        </div>
        <div>
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email">
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password">
        </div>
        <div>
            <label asp-for="Confirm"></label>
            <input type="password" asp-for="Confirm">
        </div>
        <input type="submit" value="Register">
    </form>
    <span asp-validation-for="FirstName"></span><br>
    <span asp-validation-for="LastName"></span><br>
    <span asp-validation-for="Email"></span><br>
    <span asp-validation-for="Password"></span><br>
    <span asp-validation-for="Confirm"></span><br>
</div>