<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <div>
            <h2>Coding Dojo Wall</h2>
            <nav>
                <ul>
                    <li>FirstName LastName</li>
                    <li><a href="/logout">Log Off</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div>
            <div>
                <form action="">
                <h3>Post A Message</h3>
                <div>
                    <textarea name="" id="" cols="50" rows="10"></textarea>
                </div>
                <input type="submit">
                </form>
            </div>
            <br>
            <div>
                <div class="message">
                    <h3>FIRST LAST - TIME</h3>
                    <p>Message</p>
                    <div class="comment">
                        <h4>FIRST LAST - TIME</h4>
                        <p>Comment</p>
                    </div>
                    <form class="comment" action="">
                        <h5>Post A Comment</h5>
                        <div>
                            <label for=""></label>
                            <textarea name="" id="" cols="40" rows="5"></textarea>
                        </div>
                        <input type="submit">
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </main>
</body>
</html>