<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Time Display</h1>
        <h3>@ViewBag.Time</h3>
        <h3>@ViewBag.Date</h3>
    </div>
</body>
</html>