<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li id="title">Account</li>
                <li></li>
                <li><a href="/books">Home </a></li>
                <li><a href="/books/add">Add Book and Review </a></li>
                <li><a href="/logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="user-box">
            <h5>UserName:</h5>
            <h2>{{user.username}}</h2>
            <h5>Name:</h5>
            <h2>{{user.name}}</h2>
            <h5>Email:</h5>
            <h2>{{user.email}}</h2>
            <h5>Total Reviews:</h5>
            <h2>NUMBER</h2>
        </div>
        <h3>Posted Reviews in Following Books:</h1>
        <hr>
        <ul>
            <li><a href="books"><h4>SHOW BOOKS</h4></a></li>
        </ul>
    </main>
</body>
</html>