<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>1. All Teams in the Atlantic Soccer COnference</h1>
		<ol>
			{% for teams in atlanticTeams %}
				<li>{{teams.location}} {{teams.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>2. All Players in the Boston Peguins</h1>
		<ol>
			{% for player in penguinPlayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>3. All players in the International Collegiate Baseball Conference</h1>
		<ol>
			{% for player in intBaseballPlayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>4. All players in the American Conference of Amateur Football with last name "Lopez"</h1>
		<ol>
			{% for player in lopezFooteball %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>5. All Football Players</h1>
		<ol>
			{% for player in footballPlayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>6. All teams with a player named "Sophia"</h1>
		<ol>
			{% for team in findSophia %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>7. all leagues with a player named "Sophia"</h1>
		<ol>
			{% for league in leagueWSophia %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>8. Everyone with the last name "Flores" who DOESN'T play for the Washington Roughriders</h1>
		<ol>
			{% for player in floresNotRough %}
				<li>{{player.first_name}} {{players.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>9. All teams, past and present, that Samuel Evans has played with</h1>
		<ol>
			{% for team in samsHistory %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>10. All players, past and present, with the Manitoba Tiger-Cats</h1>
		<ol>
			{% for player in tigerCatsWhere %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>11. All players who were formerly with the Wichita Vikings</h1>
		<ol>
			{% for player in wasViking %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>12. Every team that Jacob Gray played for before he joined the Oregon Colts</h1>
		<ol>
			{% for team in jacobWhere %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>13. Everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</h1>
		<ol>
			{% for player in joshuaPlays %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>14. All teams that have had 12 or more players, past and present</h1>
		<ol>
			{% for team in tweleveOrMore %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>15. All players and count of teams played for, sorted by the number of teams they've played for</h1>
		<ol>
			{% for player in teamArgByNum %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
	</body>
</html>
