@using WeddingPlanner.Models
@model WeddingWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dash.css">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <h1>Welcome to Wedding Planner</h1>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <table>
            <tr>
                <td>Wedding</td>
                <td>Date</td>
                <td>Guest</td>
                <td>Action</td>
            </tr>
            @{foreach(Wedding wedding in Model.AllWeddings)
                {
                    <tr>
                        <td><a href="/weddings/@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo</a></td>
                        <td>@wedding.Date.Value.ToString("MMM dd yyyy")</td>
                        <td>@wedding.GuestsAttending.Count</td>
                        <td>RSVP</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div>
        <a href="/weddings/new">New Wedding</a>
    </div>
</body>
</html>