@using WeddingPlanner.Models
@model Wedding
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/details.css">
    <title>About Wedding</title>
</head>
<body>
    <div>
        <div>
            <h1>Plan Your Wedding</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <h2>Guests</h2>
            <ul>
                <li>Bob</li>
                <li>Bob</li>
                <li>Bob</li>
                <li>Bob</li>
            </ul>
        </div>
    </div>
</body>
</html>