.headNav{
    display: inline-flex;
}

.headNav a{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(147, 30, 194);
    transition: ease 1s;
}

.headNav a:hover{
    color: rgb(202, 80, 240);
}
