@using UserDashboard.Models
@model LogRegWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/forms.css">
    <title>Login</title>
</head>
<body>
    <div class="login-box">
        <div>
            <a href="/">Home</a>
            <a href="/login">Login?</a><br><br>
            <h2>Sign Up</h2>
        </div>
        <form asp-action="Register" asp-controller="Log"  method="POST">
            <div class="user-box">
                <input  type="text" asp-for="Register.FirstName" name="Register.FirstName" id="Register.FirstName">
                <label asp-for="Register.FirstName"></label>
            </div>
            <div class="user-box">
                <input  type="text" asp-for="Register.LastName" name="Register.LastName" id="Register.LastName">
                <label asp-for="Register.LastName"></label>
            </div>
            <div class="user-box">
                <input  type="email" asp-for="Register.Email" name="Register.Email" id="Register.Email">
                <label asp-for="Register.Email"></label>
            </div>
            <div class="user-box">
                <input type="password" asp-for="Register.Password" name="Register.Password" id="Register.Password">
                <label asp-for="Register.Password"></label>
            </div>
            <div class="user-box">
                <input type="password" asp-for="Register.Confirm" name="Register.Confirm" id="Register.Confirm">
                <label asp-for="Register.Confirm"></label>
            </div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </form>
    </div>
    <div>
        <span class="error" asp-validation-for="Register.FirstName"></span>
        <span class="error" asp-validation-for="Register.LastName"></span>
        <span class="error" asp-validation-for="Register.Email"></span>
        <span class="error" asp-validation-for="Register.Password"></span>
        <span class="error" asp-validation-for="Register.Confirm"></span>
    </div>
</body>
</html>