<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/makecomments.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li id="title">Coding Dojo Wall</li>
                <li>{{ username.first_name }} {{ username.last_name }}</li>
                <li><a href="logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <main>
        
        <div class="container">
            <div class="main-content">
                <form action="/wall/postMessage" method="POST">
                    {% csrf_token %}
                    <label for="message">Post a Message</label>
                    <textarea name="message" class="feedback-input" placeholder="Write a Message"></textarea>
                    <input type="submit" value="Post Message"/>
                </form>
                {% for message in all_messages %}
                    {% for single_message in messages %}
                        <!-- shows error message -->
                        {% if single_message.extra_tags == message.id|stringformat:"i" %}
                            <h1>{{single_message}}</h1>
                        {% endif %}
                    <!-- shows error message end -->
                    {% endfor %}
                    <h6>{{message.user.first_name}} {{message.user.last_name}} - {{message.created_at}}</h6>
                    <h2>{{message.message}}</h2>
                    {% if message.user.id == user_id %}
                    <form action="/wall/deleteMessage/{{message.id}}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="messageId" value="{{message.id}}">
                        <button type="submit" class="btn btn-sm btn-outline-danger ml-2">Delete</button>
                    </form>
                    {% endif %}
                    {% for comment in message.comments.all %}
                    <h6>{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.created_at }}</h6></li>
                    <p>{{comment.comment}}</p>
                    {% endfor %}
                    <form action="/wall/postComment/{{message.id}}" method="POST">
                        {% csrf_token %}
                        <label for="comment">Post a Comment</label>
                        <textarea name="comment" class="feedback-input" placeholder="Write a Comment"></textarea>
                        <input type="submit" value="Post Comment"/>
                    </form>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>