<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ratings.css' %}">
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li id="title">View Book Reviews</li>
                <li><a href="/books">Home </a></li>
                <li><a href="logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>{{book.title}}</h1>
        <h2>Author: {{book.author.name}}</h2>
        <div class="make-left">
            <h1>Reviews</h1>
            <div class="push-ratings">
                <hr>
                {% for review in reviews %}
                <div class="set-ratings">
                    <h3>Rating</h3>
                    <div class="push-stars">
                        <span class="fa fa-star checked">{{review.rating}}</span>
                    </div>
                </div>
                <h4><a href="/users/{{review.user.id}}">{{review.user.name}}</a> {{review.review}}</h4>
                <h5>{{review.created_at}}</h5>
                {% endfor %}
            </div>
        </div>
        <div class="make-right">
            <form action="/books/{{book.id}}/addReview" method="POST">
                {% csrf_token %}
                <h3>Add a Review:</h3>
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <select name="rating" class="form-control" id="review">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="review">Write a Review</label>
                    <textarea class="form-control" name="review" id="review" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        </div>
    </main>
</body>
</html>