<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <nav>
        <h1>Hello {{user.first_name}} {{user.last_name}}! Lets Edit your Trip!</h1>
        <a href="/dashboard/logout">Logout</a>
    </nav>
    <div>
        <form action="/dashboard/update/{{trips.id}}" method="POST">
            {% csrf_token %}
            <label for="updated_destination">Destination</label>
            <input type="text" name="updated_destination" id="updated_destination" value="{{trips.destination}}"><br><br>

            <label for="updated_start_date">Start Date</label>
            <input type="date" name="updated_start_date" id="updated_start_date" value="{{trips.start_date| date:'Y-m-d' }}"><br><br>

            <label for="updated_end_date">End Date</label>
            <input type="date" name="updated_end_date" id="updated_end_date" value="{{trips.end_date| date:'Y-m-d'}}"><br><br>

            <label for="updated_plan">Plan</label><br><br>
            <textarea name="updated_plan" id="updated_plan" cols="30" rows="10">{{trips.plan}}</textarea><br><br>
            <a href="/dashboard">Cancel</a>
            <input type="submit" value="Submit">
        </form>
        <div class="errors">
			{% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>