<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <nav>
        <h1>Hello NAMENAMENAME! Lets Edit your Trip!</h1>
        <a href="/logout">Logout</a>
    </nav>
    <div>
        <form action="">
            <label for="">Destination</label>
            <input type="text"><br><br>
            <label for="">Start Date</label>
            <input type="date"><br><br>
            <label for="">End Date</label>
            <input type="date"><br><br>
            <label for="">Plan</label>
            <textarea name="" id="" cols="30" rows="10"></textarea><br><br>
            <a href="/dashboard">Cancel</a>
            <input type="submit" value="Submit">
        </form>
        <div class="errors">
			{% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>