<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homes.css' %}">
</head>
<body>
    <nav>
        <h1>Hello {{user.first_name}} {{user.last_name}}</h1>
        <a href="/dashboard/logout">Logout</a>
        <a href="add">Create a new Trip</a>
    </nav>
    <h2>Your Trips</h2>
    <div>
        <table>
            <tr>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Plan</th>
                <th>Actions</th>
            </tr>
            {% for trip in trips%}
            <tr>
                <td><a href="/dashboard/trips/{{trip.id}}">{{trip.destination}}</a></td>
                <td>{{trip.start_date}}</td>
                <td>{{trip.end_date}}</td>
                <td>{{trip.plan}}</td>
                <td>
                    <form action="/dashboard/delete/{{trip.id}}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tripId" value="{{trip.id}}">
                        <button type="submit">Remove</button>
                    </form>
                    <a href="/dashboard/edit/{{trip.id}}">edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>