<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Hello NAMENAMENAME! Read about this Trip!</h1>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </nav>
    <div>
        <h1>TRIPNAME</h1><br><br>
        <h3>Start Date: STARTDATE</h3>
        <h3>END Date: ENDDATE</h3>
        <h3>Created On: CREATEDDATE</h3>
        <h3>Last Updated: UPDATED-DATE</h3>
        <h3>Plan: SOME-PLAN</h3>
        <h3>Created by: NAME</h3>
    </div>
</body>
</html>