<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Hello NAMENAMENAME! Read about this Trip!</h1>
        <a href="/dashboard">Dashboard</a>
        <a href="/dashboard/logout">Logout</a>
    </nav>
    <div>
        <h1>{{trips.destination}}</h1><br><br>
        <h3>Start Date: {{trips.start_date}}</h3>
        <h3>END Date: {{trips.end_date}}</h3>
        <h3>Created On: {{trips.created_at}}</h3>
        <h3>Last Updated: {{trips.updated_at}}</h3>
        <h3>Plan: SOME-PLAN</h3>
        <h3>Created by: {{user.first_name}} {{user.last_name}}</h3>
    </div>
</body>
</html>