<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/" class="bottom">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    <h1>About Me</h1>
    <div class="info-left">
        <img src="~/img/pika.png" alt="">
        <h2>Pedro</h2>
        <h3>I like turtles</h3>
    </div>
    <div class="info-right">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium iste
            numquam, itaque officia, quam harum alias molestiae repellendus distinctio laudantium
            ut, veniam facere facilis? Ad amet consectetur quae accusamus?
        </p>
    </div>
</body>
</html>