<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Projects</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects" class="bottom">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    <h1>Here are some Projects of mine!</h1>
        <div>
            <img src="~/img/pika.png" alt="">
            <h3>Devan</h3>
            <p>Lorem ipsum doloroloribus accusamus pariatur velit.</p>
        </div>
        <div>
            <img src="~/img/pika.png" alt="">
            <h3>Eddie</h3>
            <p>Lorem ipsum doloroloribus accusamus pariatur velit.</p>
        </div>
        <div>
            <img src="~/img/pika.png" alt="">
            <h3>Shawn</h3>
            <p>Lorem ipsum doloroloribus accusamus pariatur velit.</p>
        </div>
        <div>
            <img src="~/img/pika.png" alt="">
            <h3>Trevor</h3>
            <p>Lorem ipsum doloroloribus accusamus pariatur velit.</p>
        </div>
    </div>
</body>
</html>