<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Random Passcode - Passcode @ViewBag.Count</h1>
    <div class="passcode">
        <h3>@ViewBag.String</h3>
    </div>
    <div>
        <a href="generate" class="btn-2">Generate</a>
        <a href="reset" class="btn-1">Reset Counter</a>
    </div>
</body>
</html>