@{
    ViewData["Title"] = "Level 1";
}

<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li><h3>...all womens' leagues</h3></li>
                <ul>
                @foreach (League w in ViewBag.One)
                {
                    <li>@w.Name</li>
                }
                </ul>
            <li><h3>...all leagues where sport is any type of hockey</h3></li>
                <ul>
                    @foreach (League h in ViewBag.Two)
                    {
                    <li>@h.Name</li>
                    }
                </ul>
            <li><h3>...all leagues where sport is something OTHER THAN football</h3></li>
                <ul>
                    @foreach (League f in ViewBag.Three)
                    {
                    <li>@f.Name</li>
                    }
                </ul>
            <li><h3>...all leagues that call themselves "conferences"</h3></li>
                <ul>
                    @foreach (League c in ViewBag.Four)
                    {
                    <li>@c.Name</li>
                    }
                </ul>
            <li>...all leagues in the Atlantic region</li>
            <li>...all teams based in Dallas</li>
            <li>...all teams named the Raptors</li>
            <li>...all teams whose location includes "City"</li>
            <li>...all teams whose names begin with "T"</li>
            <li>...all teams, ordered alphabetically by location</li>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <li>...every player with last name "Cooper"</li>
            <li>...every player with first name "Joshua"</li>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        </ol>
    </div>
</div>