body{
    background-color: black;
    margin: 0px;
}
p{
    color: white;
    text-align: center;
    width: 30px;
}
.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
div .brick{
    background-color: blueviolet;
}
div .coin{
    background: url('coin.gif');
    background-repeat: no-repeat;
    background-position: center;
}
div .cherry{
    background: url('cherry.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div .ghost{
    background: url('ghost.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#pacman{
    background: url('Pacman.gif') no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}
div .empty{

}
#world{
    position: relative;
}
#score{
    border: 1px solid white;
    width: 30px;
    height: 20px;
    color: white;
    text-align: center;
    padding: 7px;
}
#lives{
    border: 1px solid white;
    width: 30px;
    height: 20px;
    color: white;
    text-align: center;
    padding: 7px;
}